<!doctype html>
<html lang="en">

<head>

  <title>Title</title>

  {% include 'snippets/header.html' %}

</head>

<style type="text/css">
  body{
      background-color: #f2f2f2;
  }
</style>

<body>

  <main>

    <style type="text/css">
      .main{
        min-height: 100vh;
        height: 100%;
      }

    </style>

    <div class="main">
      
        {% block content %}

        {% endblock content %}

    </div>
   
  </main>

  <footer>
    
    {% include 'snippets/footer.html' %}
    
  </footer>



</body>
